version: '3'
networks:
  shared_network:
    driver: bridge
services:
  coderbro-service:
    image: pradeepkundekar0101/coderbro-client:latest
    ports:
      - "5173:5173"
    env_file:
      - .env
    container_name: coderbro-client-container
    networks:
      - shared_network
